#uno {
   
}

#button3
{
    background-color: hsl(322, 100%, 66%);
}

#footer
{
    background-color: hsl(192, 100%, 9%);
}
#footerlog
{
    filter: brightness(0) invert(1);
}

#c1
{
    color: white;
}
#c2
{
    color: white;
}
#c3
{
    color: white;
}
#c4
{
    color: white;
}

#urls
{
    color: white;
}

#li1
{
    list-style-image: url(../img/icon-location.svg)
}

#li2
{
    list-style-image: url(../img/icon-phone.svg)
}

#li3
{
    list-style-image: url(../img/icon-email.svg)
}

#iconsredes
{
    filter: invert(100%);
}