.fondo {
    background-image: url(../img/bg-hero-desktop.svg);
    background-size: contain;
    background-color: rgba(237,251,254,1);
}
body{
    font-family: 'Open Sans', sans-serif;
    
    min-width: 375px;
}

#boton {
    background-color: hsl(322, 100%, 66%);
    font-size: 12px;
    
}
#boton2 {
    font-size: 0.7em;
   
}
header {
    font-family:  'Poppins', sans-serif;
    font-size: 18px;
}
   
#button3
{
    background-color: hsl(322, 100%, 66%);
}

#footer
{
    background-color: hsl(192, 100%, 9%);
}
#footerlog
{
    filter: brightness(0) invert(1);
}

#c1
{
    color: white;
}
#c2
{
    color: white;
}
#c3
{
    color: white;
}
#c4
{
    color: white;
}

#urls
{
    color: white;
}

#li1
{
    list-style-image: url(../img/icon-location.svg)
}

#li2
{
    list-style-image: url(../img/icon-phone.svg)
}

#li3
{
    list-style-image: url(../img/icon-email.svg)
}

#iconsredes
{
    filter: invert(100%);
}